* {
	margin: 0px;
	padding: 0px;
}
body {
	overflow: scroll;
	background-image: url('img/pattern.png');

}
header {
	position: fixed;
	background-color: white;
	height: 60px;
	width: 100%;
}
#logo{
	float: left;
	padding-top: 10px;
	margin-left: 1%;
}
nav {
	float: right;
	text-align: right;
	padding-right: 20px;
	margin-top: 10px;

}
nav ul li{
	padding: 10px 7px;
	display: inline-block;
	text-align: right;
}

h1{
	padding-top: 100px;
	text-align: center;
	font-family: Arial;
	color: grey;
	margin-bottom: 	20px;
}
#article-list article{
	margin: 5px 20%;
	text-align: justify;
	padding: 5px 10px;
	background-color: white;
}
h3 {
	color: blue;
	padding: 5px 0px;
}
footer {
	color: white;
	margin-top: 50px;
	padding-top: 30px;
	text-align: center;
	background-color: black;
	height: 8%;
	width: 	100%;
}

